<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Titan | Multipurpose HTML5 Template</title>

        <link rel="apple-touch-icon" sizes="57x57" href="{{ 'apple-icon-57x57.png' |  asset_img_url   }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ 'apple-icon-60x60.png' |  asset_img_url   }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ 'apple-icon-72x72.png '|  asset_img_url }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ 'apple-icon-76x76.png' | asset_img_url}}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ 'apple-icon-114x114.png' | asset_img_url}}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ 'apple-icon-120x120.png' | asset_img_url}}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ 'apple-icon-144x144.png' | asset_img_url}}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ 'apple-icon-152x152.png' | asset_img_url}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-icon-180x180.png' | asset_img_url}}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ 'android-icon-192x192.png' | asset_img_url}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_img_url }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ 'favicon-96x96.png' | asset_img_url}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_img_url}}">
        <link rel="manifest" href="{{ 'manifest.json' |  asset_url }}">

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{  'ms-icon-144x144.png'  | asset_img_url }}">
        <meta name="theme-color" content="#ffffff">

        <link href="{{ 'bootstrap.min.css' | asset_url }}" rel="stylesheet">
        <!-- Template specific stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <link href="{{ 'animate.css' |  asset_url }}" rel="stylesheet">
        {% comment %} <link href="{{ 'font-awesome.min.css' | asset_url }}" rel="stylesheet"> {% endcomment %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
        <link href="{{ 'et-line-font.css' | asset_url }}" rel="stylesheet">
        <link href="{{ 'flexslider.css' | asset_url }}" rel="stylesheet">
        <link href="{{ 'owl.carousel.min.css' | asset_url }}" rel="stylesheet">
        <link href="{{ 'owl.theme.default.min.css' | asset_url }}" rel="stylesheet">
        <link href="{{ 'magnific-popup.css' | asset_url }}" rel="stylesheet">
        <link href="{{ 'simpletextrotator.css' | asset_url }}" rel="stylesheet">
        <!-- Main stylesheet and color file -->
        <link href="{{ 'style.css' | asset_url }}" rel="stylesheet">
        <link id="color-scheme" href="{{ 'default.css' | asset_url }}" rel="stylesheet">

        {{ content_for_header }}
    </head>
    <body>
        <main>
            {% render 'loader' %}
            {% section 'header' %}

            {{ content_for_layout }}

            {% section 'footer' %}
        </main>

        <script src="{{ 'jquery.js' |  asset_url }}" defer></script>
        <script src="{{ 'bootstrap.min.js' | asset_url }}" defer></script>
        <script src="{{ 'wow.js' | asset_url }}" defer></script>
        <script src="{{ 'jquery.mb.YTPlayer.js' | asset_url }}" defer></script>
        <script src="{{ 'isotope.pkgd.js' | asset_url }}" defer></script>
        <script src="{{ 'imagesloaded.pkgd.js' | asset_url }}" defer></script>
        <script src="{{ 'jquery.flexslider.js' | asset_url }}" defer></script>
        <script src="{{ 'owl.carousel.min.js' | asset_url }}" defer></script>
        <script src="{{ 'smoothscroll.js' | asset_url }}" defer></script>
        <script src="{{ 'jquery.magnific-popup.js' | asset_url }}" defer></script>
        <script src="{{ 'jquery.simple-text-rotator.min.js' | asset_url }}" defer></script>
        <script src="{{ 'plugins.js' | asset_url }}" defer></script>
        <script src="{{ 'main.js' | asset_url }}" defer></script>

    </body>
</html>
