{% if section.settings.banner_404 == blank %}
  {% assign banner_bg_url = 'https://cdn.shopify.com/s/files/1/0639/4934/0808/files/section-4.jpg?v=1720468133' %}
{% else %}
  {% assign banner_bg_url = section.settings.banner_404 %}
{% endif %}

<section
  class="home-section home-parallax home-fade home-full-height bg-dark bg-dark-30"
  id="home"
  data-background="{{ banner_bg_url }}"
>
  <div class="titan-caption">
    <div class="caption-content">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'header_404' %}
            <div class="font-alt mb-30 titan-title-size-4">{{ section.settings.title_404 }}</div>

          {% when 'subtitle_404' %}
            <div class="font-alt">
              {{ section.settings.subtext_404 }}
            </div>

          {% when 'redirect_button' %}
            <div class="font-alt mt-30">
              {% if section.settings.button_url == blank %}
                {% assign redirect_url = routes.root_url %}
              {% else %}
                {% assign redirect_url = section.settings.button_url %}
              {% endif %}
              <a class="btn btn-border-w btn-round" href="{{ redirect_url }}">{{ section.settings.button_label }}</a>
            </div>

          {% else %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "My Template 404",
  "tag": "section",
  "class": "luminous-404",
  "settings": [
    {
      "type": "url",
      "id": "banner_404",
      "label": "404 Banner"
    },
    {
      "type": "text",
      "id": "title_404",
      "label": "404 Heading Title",
      "default": "Error 404"
    },
    {
      "type": "text",
      "id": "subtext_404",
      "label": "404 Sub Text",
      "default": "The requested URL was not found on this server.<br> That is all we know."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Back to home page"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ],
  "blocks": [
    {
      "type": "header_404",
      "name": "Header",
      "limit": 1
    },
    {
      "type": "subtitle_404",
      "name": "Subtitle",
      "limit": 1
    },
    {
      "type": "redirect_button",
      "name": "Redirect Button",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "My Template 404",
      "blocks": [
        {
          "type": "header_404"
        },
        {
          "type": "subtitle_404"
        },
        {
          "type": "redirect_button"
        }
      ]
    }
  ]
}
{% endschema %}
